@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sansita Swashed", sans-serif;
  color: var(--color-earth-dark-yellow);
}

.adminLayout h1,
.adminLayout h2,
.adminLayout h3,
.adminLayout h4,
.adminLayout h5,
.adminLayout h6 {
  color: white;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: var(--color-antiflash-white);
}

.container {
  margin: 0 auto;
  width: 98%;
  max-width: 1600px;
}

a {
  transition: all ease .3s;
  text-decoration: none;
  color: white;
}

.section {
  padding: 12px;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.section ul, .section ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.section ul li, .section ol li {
  margin-bottom: 4px;
}

@media (max-width: 576px) {
  .section {
    padding: 8px;
    width: 98%;
  }

  .container {
    width: 100%;
  }
}

:root {
  --color-bittersweet: #ef6461ff; /* A reddish tone */
  --color-atomic-tangerine: #ea8c62ff; /* A light orange */
  --color-earth-yellow: #e4b363ff; /* A yellowish-brown */
  --color-earth-dark-yellow: #b99046ff; /* A darker yellowish-brown */
  --color-wheat: #e6cea7ff; /* Light beige or wheat */
  --color-antiflash-white: #F7F8FA; /* Very light grey/white */
  --color-alabaster: #e0dfd5ff; /* A soft grayish-white */
}