@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sansita Swashed", sans-serif;
  color: var(--color-earth-dark-yellow);
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: var(--color-antiflash-white);
}

a {
  transition: all ease .3s;
}

.section {
  padding: 12px;
  width: 90%;
  margin: 0 auto;
}

.section__list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: disc inside;
}

:root {
  --color-bittersweet: #ef6461ff; /* A reddish tone */
  --color-atomic-tangerine: #ea8c62ff; /* A light orange */
  --color-earth-yellow: #e4b363ff; /* A yellowish-brown */
  --color-earth-dark-yellow: #b99046ff; /* A darker yellowish-brown */
  --color-wheat: #e6cea7ff; /* Light beige or wheat */
  --color-antiflash-white: #e8e9ebff; /* Very light grey/white */
  --color-alabaster: #e0dfd5ff; /* A soft grayish-white */
}